<nav>
    <div class="nav-wrapper cyan darken-4">
      <a href="#" class="brand-logo"><img style="height: 66px" alt="Responsive image" class="img-fluid" src="https://yt3.ggpht.com/V9v7ldiYlhX26Di6THQ2o5C4C1hh-Ob79caJUy4Y5nmg6odKgPtR6l7R6ozs0LCQd9VVPB5sFQ=s900-c-k-c0x00ffffff-no-rj"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Usuarios</a></li>
        <li><a href="badges.html">Encomiendas</a></li>
        <li><a href="badges.html">Clientes</a></li>
        <li><a href="badges.html">Servicios</a></li>
        <li><a href="collapsible.html">Login</a></li>
        <li><a href="collapsible.html">Logout</a></li>
      </ul>
    </div>
  </nav>